body {
    overflow: hidden; /* 临时隐藏滚动条以测试 */
}
.main {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    gap: 200px; /* 两个 div 之间的间距 */
    height: 100vh; /* 使 .main 高度占满整个视口 */
}
